<div class="container">
	<div class="row form-style">
		<div class="col-12">
			<h2 class="titulo">Datos del número corto: {{numero.shortCode}}</h2>
			<form #numeroCortoForm = "ngForm">
				<div class=" cuadricula">
		 			<div class="column">
		 				<label> Nombre del producto </label>	
						<input type="text" class="form-control tipo" [(ngModel)]="numero.productname" name="nombre">
					</div>
					<div class="column ">
						<label> Tipo del servicio </label>
						<input type="text" class="form-control tipo" [(ngModel)]="numero.typeService" name="tipo">
					</div>
				</div>	
				<div class=" cuadricula">
		 			<div class="column">
		 				<label> Trafico aproximado </label>	
						<input type="text" class="form-control tipo" [(ngModel)]="numero.approxtraffic" name="Trafico">
					</div>
					<div class="column ">
						<label  class="separacion-alto"> Tarifa Premium: {{numero.shortCode}}</label>
					</div>
				</div>
				<div>
					<label> Descripciòn del producto </label>
					<textarea class="texttarea-style" rows="3" cols="40"[(ngModel)]="numero.description" name="Observación"></textarea>		

					<label> Ejemplo de MT </label>
					<textarea class="texttarea-style" name="MT" rows="3" cols="40" placeholder="Ejemplo de mensaje recibido por el cliente (MT)"></textarea>

					<label> Ejemplo de MO </label>
					<textarea class="texttarea-style" name="MO" rows="3" cols="40" placeholder="Ejemplo de mensaje enviado por el integrador (MO)"></textarea>

					<label> Observación </label>
					<textarea class="texttarea-style" rows="3" cols="40"[(ngModel)]="numero.observation" name="Observación"></textarea>
				</div>

				<h2> Addedum </h2>

				<div class="cuadricula">
		 			<div class="column">
		 				<label> Porcentaje </label>	
						<input type="number" class="form-control tipo" [(ngModel)]="numero.addendum.percent" name="porcentaje">

						<label> Tipo </label>	
						<input type="text" class="form-control tipo" [(ngModel)]="numero.addendum.type" name="tipoAddendum">
					</div>
					<div class="column">
						<label> Cantidad de MT por MO </label>
						<input type="number" class="form-control" [(ngModel)]="numero.addendum.MTXMO" name="MTXMO">
					</div>
				</div>				

				<div>
					<label> Descripciòn </label>
					<textarea class="texttarea-style" rows="3" cols="40" [(ngModel)]="numero.addendum.description" name=" descripcionAddendum"></textarea>
					
					<div class="cuadricula">
							 
						<button class="btn btn-primary button-style separacion-alto" routerLink= "/numerocorto"> Regresar
						</button>
						
						<button type="submit" class="btn btn-primary button-style separacion-alto"  onclick="return confirm('Estas seguro de enviar los cambios')" (click) = 'modificarNumero()' [disabled] = "!numeroCortoForm.form.valid" > Actualizar </button>
					</div>	
				</div>	
				
			</form>
		</div>	
	</div>
</div>