<div class="container">
	<div class="row form-style">
		<div class="">
			<h2 class="titulo">Resumen de las solicitudes</h2>
			<table style="text-align: center" id="solicitudes" cellspacing="0" class="egt derecha">

				<tr>
    				<th routerLink= "/aprovacionnc" class="encabezado">Solicitudes totales</th>
    				<td> </td>
   					 <td>{{total}}</td>
 				 </tr>
 				 <tr>
    				<th>Solicitudes de apertura</th>
    				<td> </td>
   					 <td >{{apertura}}</td>
 				 </tr>
 				  <tr>
    				<th>Solicitudes de cambio de tarifa</th>
    				<td class="espacio"> </td>
   					 <td>{{tarifa}}</td>
 				 </tr>
 				 <tr>
    				<th>Solicitudes de cancelacion</th>
    				<td> </td>
   					 <td>{{cancelacion}}</td>
 				 </tr>
 				  <tr>
    				<th>Solicitudes de traspaso</th>
    				<td> </td>
   					 <td >{{traspaso}}</td>
 				 </tr>
 				 <tr>
    				<th>Solicitudes de bloqueo</th>
    				<td> </td>
   					 <td >{{bloqueo}}</td>
 				 </tr>
	 		</table>						
		</div>	
	</div>
</div>