<div class="container">
	<div class="row form-style">		
		<h2>Lista de Número Corto</h2>
		 <div class=" form-style-small ">
		 	<table data-click-to-select="true">
		 		<tr>
		 			<td >Número Corto</td>
		 			<td style="padding:8px">	</td>
		 			<td> Tarifa Base</td>
		 			<td style="padding:8px">	</td>
		 			<td> Tarifa Premium</td>
		 			<td style="padding:8px">	</td>
		 			<td> MO/MT </td>
		 			<td style="padding:8px">	</td>
		 			<td> Addendum</td>
		 			<td style="padding:8px">	</td>
		 			<td> Cambio Tarifa</td>
		 		</tr>

		 		<tr *ngFor= "let numero of numeros">
		 			<td>{{numero.numero}}</td>
		 			<td></td>
		 			<td> {{numero.tarifa_p}}</td>
		 			<td></td>
		 			<td> {{numero.tarifa_b}}</td>
		 			<td></td>
		 			<td> {{numero.tipo}}</td>
		 			<td></td>
		 			<td routerLink= "/addendum"> {{numero.addendum}}</td>
		 			<td></td>
		 			<td> 25635</td>
		 		</tr>
		 	</table>		
		</div>   			
	</div>		
</div>
