<div class="container">
	<div class="row form-style">
		<div class="col-12">
			<h2 class="titulo">Otras Configuraciones</h2>
			<form>
				<div class=" cuadricula">
					<div class="column">
						<label>  Unidad Monetaria del sistema: </label>
					</div>
					<div class="column ">
						<input type="text" class="form-control tipo" id="Nombre" placeholder="Bs">						
	 				</div>
	 			</div>
	 			<div class=" cuadricula">
	 				<div class="column">
						<label>  Tarifa Basica SMS </label>
					</div>
					<div class="column ">
						<input type="text" class="form-control tipo" id="Nombre" placeholder="1,724">						
	 				</div>
	 			</div>
	 			<div class=" cuadricula">
	 				<div class="column">
						<label>  Tarifa Basica Llamada </label>
					</div>
					<div class="column ">
						<input type="text" class="form-control tipo" id="Nombre" placeholder="4,31025">						
	 				</div>
	 			</div>	
	 				 			
	 			<div>
					<div>
						<label> Impuestos en el sistema: </label>
					</div>
					<div class="cuadricula" *ngFor= "let impuesto of impuestos">
						<div class="column">
							<label>Nombre</label>
							<input type="text" class="form-control tipo" id="name" placeholder={{impuesto.name}}>	
							
						</div>

						<div class="column">
							<label>Porcentaje</label>						
							<input type="text" class="form-control tipo" name="percent" placeholder= {{impuesto.percent}}>
						</div>
	 				</div>
	 			</div>

	 			<div>
					<div>
						<label> Fecha limite para aceptar solicitudes del mes siguiente: </label>
					</div>
					<div class="column">						
						<input type="date" class="form-control tipo" [(ngModel)]="configuracion.limit_date" name="limit_date"> 
					</div>
				</div>
				<div class=" " >
					<div class="" style="margin-top: 10px">
						<label>  Correo para el proveedor avisando fecha limite de solicitudes: </label>
					</div>
					<div class=" ">


						<textarea class="texttarea-style" name="descripcion" rows="4" cols="52" placeholder={{configuracion.email_provider_date}}></textarea>	

	 				</div>
	 			</div>

	 			<div>
					<div style="margin-top: 10px">
						<label>  Correo para el trabajador avisando que hay solicitudes por procesar: </label>
					</div>
					<div>
						<textarea class="texttarea-style" name="descripcion" rows="4" cols="52" placeholder={{configuracion.email_employee}} ></textarea>						
	 				</div>
	 			</div>

	 			<div>
					<div class="" style="margin-top: 10px">
						<label>  Correo para el proveedor avisando que ya solicitudes fuerón procesadas: </label>
					</div>
					<div>
						<textarea class="texttarea-style" name="descripcion" rows="4" cols="52" placeholder={{configuracion.email_provider_processed}} ></textarea>						
	 				</div>
	 			</div>

				<button type="submit" class="btn btn-primary button-style separacion-alto"  onclick="return confirm('Estas seguro de enviar la solicitud')"> Guardar Cambios </button>
			</form>
		</div>	
	</div>
</div>