<div class="container">
	<div class="row form-style">
		<div class="col-12">
			<h2 class="titulo">Otras Configuraciones</h2>
			<form>
				<div class=" cuadricula">
					<div class="column">
						<label>  Unidad Monetaria del sistema: </label>
					</div>
					<div class="column ">
						<input type="text" class="form-control tipo" id="Nombre" placeholder="Bs">						
	 				</div>
	 			</div>
	 			<div class=" cuadricula">
	 				<div class="column">
						<label>  Tarifa Basica SMS </label>
					</div>
					<div class="column ">
						<input type="text" class="form-control tipo" id="Nombre" placeholder="1,724">						
	 				</div>
	 			</div>
	 			<div class=" cuadricula">
	 				<div class="column">
						<label>  Tarifa Basica Llamada </label>
					</div>
					<div class="column ">
						<input type="text" class="form-control tipo" id="Nombre" placeholder="4,31025">						
	 				</div>
	 			</div>	
	 				 			
	 			<div class=" cuadricula">
					<div class="column">
						<label> Impuestos en el sistema: </label>
					</div>
					<div class="column ">
						<input type="text" class="form-control tipo" id="Nombre" placeholder="IVA 16%">	
						<input type="text" class="form-control tipo" id="Nombre" placeholder="Suntuario 15">
	 				</div>
	 			</div>
				<div class=" cuadricula" >
					<div class="column" style="margin-top: 10px">
						<label>  Correo para el proveedor avisando fecha limite de solicitudes: </label>
					</div>
					<div class="column ">
						<textarea class="texttarea-style" name="descripcion" rows="4" cols="22" placeholder="Estima integrador se le notifica que se aceptaran solicitudes referente a la gestion de sus numeros cortos"></textarea>						
	 				</div>
	 			</div>

	 			<div class=" cuadricula" >
					<div class="column" style="margin-top: 10px">
						<label>  Correo para el trabajador avisando que hay solicitudes por procesar: </label>
					</div>
					<div class="column ">
						<textarea class="texttarea-style" name="descripcion" rows="4" cols="22" placeholder="Se le notifica que tiene solicitudes por procesar"></textarea>						
	 				</div>
	 			</div>

	 			<div class=" cuadricula" >
					<div class="column" style="margin-top: 10px">
						<label>  Correo para el proveedor avisando que ya solicitudes fuerón procesadas: </label>
					</div>
					<div class="column ">
						<textarea class="texttarea-style" name="descripcion" rows="4" cols="22" placeholder="Se le notifica que sus solicitudes fueron procesadas"></textarea>						
	 				</div>
	 			</div>

				<button type="submit" class="btn btn-primary button-style separacion-alto"  onclick="return confirm('Estas seguro de enviar la solicitud')"> Guardar Cambios </button>
				<label for="ejemplo">  </label>
			</form>
		</div>	
	</div>
</div>