<div class="container">
	<div class="row form-style">
		<div class="col-12">
			<h2 class="titulo">Datos del Proveedor</h2>
			<form #proveedorForm = "ngForm">
				<div class=" cuadricula">
					<div class="column">
						<label>Nombre del proveedor</label>
						<input type="text" class="form-control tipo" [(ngModel)]="proveedor.name" name="name" required minlength="4" #nombre="ngModel">
						<div class="alert alert-danger tipoAlerta" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
							<div *ngIf = "nombre.errors.required">
								Nombre Requerido
							</div>
							<div *ngIf = "nombre.errors.minlength">
								Nombre debe tener almenos 4 caracteres
							</div>
						</div>	
					</div>
					<div class="column ">
						<label>Sobrenombre del proveedor</label>
						<input type="text" class="form-control tipo" [(ngModel)]="proveedor.nickname" name="nickname" required #nickname="ngModel">	
						<div class="alert alert-danger tipoAlerta" *ngIf="nickname.invalid && (nickname.dirty || nickname.touched)">
							<div *ngIf = "nickname.errors.required">
								Sobrenombre Requerido
							</div>
						</div>
	 				</div>
	 			</div>		 			
	 			
	 			<div class=" cuadricula">
		 			<div class="column">
		 				<label> Rif </label>
		 				<select style="margin-left: 15px" class="" [(ngModel)]="proveedor.typeRif" name="typeRif" required >
							<option>J</option>
							<option>G</option>
							<option>C</option>		    		
		 				</select>	
						<input type="text" class="form-control tipo" [(ngModel)]="proveedor.rif" name="rif" required maxlength="9" #rif="ngModel">
						<div class="alert alert-danger tipoAlerta" *ngIf="rif.invalid && (rif.dirty || rif.touched)">
							<div *ngIf = "rif.errors.required">
								Rif Requerido
							</div>
						</div>
					</div>
					<div class="column ">
						<label> Nit </label>
						<input type="text" [(ngModel)]="proveedor.nit" class="form-control tipo" name="nit" required #nit="ngModel">
						<div class="alert alert-danger tipoAlerta" *ngIf="nit.invalid && (nit.dirty || nit.touched)">
							<div *ngIf = "nit.errors.required">
								Nit Requerido
							</div>
						</div>
					</div>
				</div>	
				<div>
					<label> Dirección </label>
					<textarea class="texttarea-style" rows="3" cols="40" [(ngModel)]="proveedor.address" name="direccion" #direccion="ngModel" required ></textarea>
					<div class="alert alert-danger tipoAlerta" *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)">
							<div *ngIf = "direccion.errors.required">
								Dirección Requerida
							</div>
						</div>
					
				</div>

				<div class=" cuadricula ">
		 			<div class="column">
		 				<label> Interfaces </label>
						<input type="text" class="form-control tipo" id="Nombre">
					</div>
				</div>	

				<div *ngIf="segundo" class=" cuadricula">
		 			<div class="column">
						<input type="text" class="form-control tipo" id="Nombre">
					</div>
					
				</div>
				<h3>Contactos</h3>

				<h4 style="color: purple"> Contacto Nivel 1 </h4>	
				
				<div class=" cuadricula">
					<div class="column">
						<label>Nombre</label>
						<input type="text" class="form-control tipo" id="Nombre">
						<label>Telefono</label>
						<input type="text" class="form-control tipo" id="Nombre">
						<label>Cargo</label>
						<input type="text" class="form-control tipo" id="Nombre">
					</div>
					<div class="column ">
						<label>Apellido</label>
						<input type="text" class="form-control tipo" id="Nombre">
						<label>Correo Electronico</label>
						<input type="text" class="form-control tipo" id="Nombre">	
	 				</div>
	 			</div>
	 			<div>
	 				<label> Descripción </label>
					<textarea class="texttarea-style" name="descripcion" rows="3" cols="40"></textarea>
					<div class=" cuadricula">
						<div class="column  separacion-alto">
						<label>Agregar otro contacto</label>
						</div>
						<div class="column separacion-alto">
							<button (click)="agregarContactoDos()" style="width: 35px" class="boton"> 
							<img style="width: 35px" src= "../../assets/add.png" />	
			 				</button>
			 			</div>
			 		</div>
				</div>	 
	 			
				<div *ngIf="contactoDos == true">
					<h4 style="color: purple"> Contacto Adicional </h4>	

					<div class=" cuadricula">
						<div class="column">
							<label>Nombre</label>
							<input type="text" class="form-control tipo" id="Nombre">
							<label>Telefono</label>
							<input type="text" class="form-control tipo" id="Nombre">
							<label>Cargo</label>
							<input type="text" class="form-control tipo" id="Nombre">
						</div>
						<div class="column ">
							<label>Apellido</label>
							<input type="text" class="form-control tipo" id="Nombre">
							<label>Correo Electronico</label>
							<input type="text" class="form-control tipo" id="Nombre">	
		 				</div>
		 			</div>
		 			<div>
		 				<label> Descripción </label>
						<textarea class="texttarea-style" name="descripcion" rows="3" cols="40"></textarea>
					</div>
					<div class=" cuadricula">
						<div class="column  separacion-alto">
						<label>Agregar otro contacto</label>
						</div>
						<div class="column separacion-alto">
							<button (click)="agregarContactoTres()" style="width: 35px" class="boton"> 
							<img style="width: 35px" src= "../../assets/add.png" />	
			 				</button>
			 			</div>
			 		</div>
				</div> 		
	 			
				<div *ngIf="contactoTres == true">
					<h4 style="color: purple"> Contacto Adicional </h4>	

					<div class=" cuadricula">
						<div class="column">
							<label>Nombre</label>
							<input type="text" class="form-control tipo" id="Nombre">
							<label>Telefono</label>
							<input type="text" class="form-control tipo" id="Nombre">
							<label>Cargo</label>
							<input type="text" class="form-control tipo" id="Nombre">
						</div>
						<div class="column ">
							<label>Apellido</label>
							<input type="text" class="form-control tipo" id="Nombre">
							<label>Correo Electronico</label>
							<input type="text" class="form-control tipo" id="Nombre">	
		 				</div>
		 			</div>
		 			<div>
		 				<label> Descripción </label>
						<textarea class="texttarea-style" name="descripcion" rows="3" cols="40"></textarea>
					</div>
				</div>

				<div class="cuadricula">
							 
					<button class="btn btn-primary button-style separacion-alto" routerLink= "/proveedor"> Regresar
					</button>
					
					<button type="submit" class="btn btn-primary button-style separacion-alto"  onclick="return confirm('Estas seguro de enviar la solicitud')" (click) = 'crearProveedor()' *ngIf ="!proveedor.id else elseBlock" [disabled] = "!proveedorForm.form.valid" > Crear </button>

					<ng-template #elseBlock>
						<button type="submit" class="btn btn-primary button-style separacion-alto"  onclick="return confirm('Estas seguro de enviar la solicitud')" (click) = 'modificarProveedor()' [disabled] = "!proveedorForm.form.valid" > Modificar</button>
					</ng-template>	
				</div>		

				<label for="ejemplo">  </label>
			</form>
		</div>	
	</div>
</div>