<div class="container">
	<div class="row form-style">		
		<h2>Solicitud de cambio de tarifa</h2>
		<div class="modal-body">
			<div class="cuadricula">
				<div class="column">
  					<label> Nueva tarifa </label>
  				</div>
  				<div class="column">
  					<input type="">
  				</div>

  			</div>
  			<div class=" cuadricula">
  				<div class="column">
		 			<label for="ejemplo" class="actual"> Actual </label>	
				</div>
				<div class="column ">
					<label for="ejemplo" class="proximo"> Proximo </label>
				</div>
  			</div>
  			<div class=" cuadricula" >  
		 		<div class=" form-style-small ">
		 			
		 			<table style="text-align: center">
		 				<tr>
		 					<th>Número corto</th>
		 					
		 					<th>Tarifa Premium</th>
		 					
		 					<th>Tarifa Base</th>
		 					
		 					<th>MO/MT</th>
		 				</tr>
		 				<tr st-select-row="numero" st-select-mode="single" *ngFor= "let numero of numeros">
		 					<td>{{numero.numero}}</td>
		 				
		 					<td>{{numero.tarifa_p}}bs</td>
		 					
		 					<td>{{numero.tarifa_b}}</td>
		 				
		 					<td>{{numero.tipo}}</td>
		 				</tr>
		 			</table>
		 		</div>
		 		<div class="tabla" > 
		 			<button> >> </button>
		 			<button> << </button>
		 		</div>			
				<div class=" form-style-small ">
					<table style="text-align: center">
		 				<tr>
		 					<th>Número corto</th>
		 					
		 					<th>Tarifa Premium</th>
		 					
		 					<th>Tarifa Base</th>
		 					
		 					<th>MO/MT</th>
		 				</tr>
		 				<tr *ngFor = "let numeros of nuevos ">
		 					<td>{{numero.numero}}</td>
		 				
		 					<td>{{numero.tarifa_p}}bs</td>
		 				
		 					<td>{{numero.tarifa_b}}</td>
		 				
		 					<td>{{numero.tipo}}</td>	 					
		 				</tr>
		 			</table> 			
				</div> 
			</div>  
		</div>
		<button type="submit" class="btn btn-primary button-style separacion-alto" onclick="return confirm('Estas seguro de enviar la solicitud')"> Enviar la solicitud </button>					
	</div>	

		
</div>
