<div class="container">
	<div class="row form-style">		
		<h2 style="margin-left: 10px" >Reportes</h2>
		 <div style="margin-left: 10px" class=" form-style-small ">

		 	<table class="table" style="text-align: left" data-click-to-select="true">
		 		<tr>
		 			<td routerLink= "/reporte1">Lista de Proveedores</td>		 			
		 		</tr>
		 		<tr>
		 			<td>Lista de contratos</td>
		 		</tr>
		 		<tr>
		 			<td routerLink= "/reporte3"> Lista de numeros cortos bloqueados</td>
		 		</tr>
		 		<tr>
		 			<td>Lista de la informacion del ultimo ingreso de cada proveedor</td>
		 		</tr>
		 		<tr>
		 			<td>Listado de la informacion de las tarifas</td>
		 		</tr>
		 		<tr>
		 			<td routerLink= "/reporte6">Logs</td>
		 		</tr>
		 	</table>		
		</div>  			
	</div>		
</div>
