.color{	
	background-color: purple;
}

.white {
    color: white;
}

.menu{
    background-color: purple;
    color: white;
    width: 200px;
}

.separacion{
	margin-left: 800px;

}
.menu_dos{
    width: 190px;
    margin-left: 910px;
    background-color: purple;
    color: white;
}

.separacion-alto {
    margin-top: 15px;
}

.small {
    margin-top: 75px;
    margin-left: 275px;
    font-size: 75%;
}
