<div class="container">
	<div class="form-style">		
		<h2>Solicitudes</h2>
		 <div style="margin-left: 35px; margin-right: 35px;" class=" form-style-small ">
		 	<table class="table " style="text-align: center" data-click-to-select="true" >
		 		<thead>
			 		<tr>
			 			<th>
			 				<input class="" type="checkbox" id="inlineCheckbox1" value="option1">
			 			</th>
			 			<th >Numero Corto</th>
			 			
			 			<th> Tipo </th>
			 			
			 			<th> Proveedor</th>
			 			
			 			<th> Por aprobar</th>
			 		
			 			<th> Fecha</th>
			 		</tr>
		 		</thead>
		 		<tr *ngFor= "let solicitud of solicitudes">
		 			<td>
		 				<input class="" type="checkbox" id="inlineCheckbox1" value="option1">
  <label class="form-check-label" for="inlineCheckbox1"></label>
		 			</td>
		 			<td> {{solicitud.numero}}</td>
		 			
		 			<td> {{solicitud.tipo}} </td>
		 			
		 			<td> {{solicitud.nombre_proveedor}}</td>
		 		
		 			<td> {{solicitud.estatus}}</td>
		 			
		 			<td> {{solicitud.fecha}}</td>
		 		</tr>
		 	</table>		
		</div>   
		<div style=" padding-left: 100px"class="cuadricula">
			 <button type="submit" class="btn btn-primary button-style separacion-alto" onclick="return confirm('Estas seguro de rechazar la(las) solicitud(des)')"> Rechazar </button>		

			  <button type="submit" class="btn btn-primary button-style separacion-alto" onclick="return confirm('Estas seguro de aprobar la(las) solicitud(des)')"> Aprobar </button>					
		 </div>			
	</div>		
</div>


  
     



