<div class="container">
	<div class="row form-style">		
		<h2 style="margin-left: 10px" >Lista de las Areas</h2>
		 <div style="margin-left: 10px" class=" form-style-small ">
		 	<table class="table" style="text-align: center" data-click-to-select="true">
		 		<thead>
			 		<tr>
			 			<th >Nombre</th>
			 			
			 			<th> Email</th>
			 			
			 		</tr>
		 		</thead>
		 		<tr *ngFor= "let area of areas">
		 			<td>{{area.name}}</td>
		 	
		 			<td> {{area.email}}</td>

		 			<td> <a [routerLink]= "['datos-area', area.id]"  type="submit" class=" separacion-alto boton column"> <img style="width: 15px; margin-top:  15px" src= "../../assets/editar.png" />
		 				</a>
					</td>

		 		</tr>
		 	</table>		
		</div>   			
	</div>		
</div>
