<div class="container">
	<div class="row form-style">
		<div class="col-6">
			<h2 class="titulo">Bloquear número corto</h2>
			<form>				
					<div class="column">
						<input type="text" class="form-control tipo" id="Nombre" placeholder="Número Corto">					

		 				<textarea class="texttarea-style" name="descripcion" rows="3" cols="40" placeholder="Motivo del bloqueo"></textarea>
					<small id="" class="small form-text text-muted"> Luego de enviar la solcitud y ser aprobada el número dejara estar disponible a los proveedores </small>
					</div>	
				<div>
					
				</div>

				<button type="submit" class="btn btn-primary button-style separacion-alto" onclick="return confirm('Estas seguro de enviar la solicitud')"> Enviar la solicitud </button>
				<label for="ejemplo">  </label>
			</form>
		</div>	
	</div>
</div>