<div class="container">
	<div class="row form-style">		
		<h2 style="margin-left: 10px" >Lista de Empleados</h2>
		 <div style="margin-left: 10px" class=" form-style-small ">
		 	<table class="table" style="text-align: center" data-click-to-select="true">
		 		<thead>
			 		<tr>
			 			<th >Nombre</th>
			 			
			 			<th> Area</th>
			 			
			 			<th> Ultima Conexión</th>
			 		</tr>
		 		</thead>
		 		<tr *ngFor= "let empleado of empleados">
		 			<td>{{empleado.name}}</td>
		 	
		 			<td> {{empleado.area.name}}</td>

		 			<td> {{empleado.position}}</td>
		 		</tr>
		 	</table>		
		</div>   
		<div style=" padding-left: 275px"class="cuadricula">
			 <button type="submit" class="boton column" routerLink= "/datos-empleado"> 
				<img style="width: 35px" src= "../../assets/add.png" />
			 </button>
		 </div>				
	</div>		
</div>
