<div class="container">
	<div class="row form-style">
		<div class="col-12">
			<h2 class="titulo">Traspaso de número corto</h2>
			<form>
				<div class=" cuadricula">
					<div class="column">
						<select name="tipo" class="">
							<option value=""> Seleccione el número </option>
				    		<option value=""> 78596 </option>
				    		<option value=""> 42685 </option>
		 				</select>
					</div>
					<div class="column ">	
						<select name="tipo" class="">
							<option value=""> Seleccione el proveedor </option>
				    		<option value=""> Directv </option>
				    		<option value=""> Intercable </option>
		 				</select>
	 				</div>
	 			</div>	
	 			<small id="" class="small form-text text-muted"> Antes de hacer esta solicitud ya debio haber entregado los requesitos necesarios </small>
				<div>
					<textarea class="texttarea-style" name="descripcion" rows="3" cols="40" placeholder="Observaciones"></textarea>
				</div>

				<button type="submit" class="btn btn-primary button-style separacion-alto" onclick="return confirm('Estas seguro de enviar la solicitud')"> Enviar la solicitud </button>
				<label for="ejemplo">  </label>
			</form>
		</div>	
	</div>
</div>