<div class="container">
	<div class="row form-style">
		<div class="col-6">
			<h3 class="titulo"> Cambio de contraseña</h3>
			<form>				
					<div class=" separacion-alto ">
						<input type="text" class="form-control tipo" id="" placeholder="Contraseña anterior">
					</div>
					<div class=" separacion-alto ">	
						<input type="text" class="form-control tipo" id="" placeholder="Nueva Contraseña">
	 				</div>
	 				<div class=" separacion-alto">	
						<input type="text" class="form-control tipo" id="" placeholder="Repetir contraseña">
	 				</div>	
	 			<small id="" class="small form-text text-muted"> Puede escribirlo o escoger un predeterminado </small>

				<button type="submit" class="btn btn-primary button-style separacion-alto" onclick="return confirm('Estas seguro de cambiar del cambio de contraseña')"> Cambiar </button>
				<label for="ejemplo">  </label>
			</form>
		</div>	
	</div>
</div>